


.form-box{
  width: 400px;
  height: auto;
  padding: 25px;
  background-color: rgb(224, 234, 135);
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  z-index: 1;
}
