<div class="container">
  <form [formGroup]="login" (ngSubmit)="logindata(login)" class="form-box">
    <h3>Login</h3>
    <div class="form-group">
      <label>User Name</label>
      <input type="text" formControlName="email"  [ngClass]="{'is-invalid': login.controls['email'].errors}"  class="form-control mb-3 mt-3" placeholder="enter email">
    </div>


    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password"  [ngClass]="{'is-invalid': login.controls['password'].errors}"  class="form-control mb-3 mt-3" placeholder="enter password">

    </div>


    <span>Create New Account </span>
    <a routerLink="/signup">Signup</a><br>
    <button type="submit" class="btn btn-success">Login</button>


  </form>
</div>

<router-outlet></router-outlet>
